# Archivos temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db

# Entorno de VS Code
.vscode/

# Cachés del navegador
.cache/

# Archivos de Live Server
live-server.log

# Archivos del sistema operativo
ehthumbs.db
desktop.ini
